<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    {% include 'loadBootstrap.html' %}
</head>
<body>
{% include 'navMain.html' %}
  <div id="page-wrap">
        <!-- ABOUT -->
        <section class="section-about">
            <div class="container">

                <div class="about">

                    <!-- ITEM -->
                    <div class="about-item">

{#                        <div class="img owl-single">#}
{#                            <img src="images/about/img-1.jpg" alt="">#}
{#                            <img src="images/about/img-1.jpg" alt="">#}
{#                        </div>#}

                        <div class="text">
                            <h2 class="heading">ABOUT Blue Parrot Resort</h2>
                            <div class="desc">
                               <p>
                                    The Blue Parrot Resort at Basundhara, Dhaka offers an unmatched luxurious experience found nowhere else in Bangladesh.

At the Palace you have world class accommodation to pick from. You can reside in the Main Tower Building. With either a fountain view or a garden view to choose from the rooms combine supreme comfort with modern amenities and easy access to all parts of the resort.

For those who want to be even closer to nature the Villas are perfect for you providing you with all modern amenities in the most idyllic of settings with nature at your doorstep. Options available are the 1 Bedroom Villas, Honeymoon Villas, 2 Bedroom Villas, 3 Bedroom Villas and last but not least the Presidential Villas.

The Presidential Villas offer unparalleled opulence over a vast area nestled in the heart of nature with state of the art amenities like a personal helipad, theater, indoor Jacuzzi, indoor steam bath, Smart 3D TVs and gaming consoles.
                               </p>
                            </div>
                        </div>

                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="about-item about-right">

                        <div class="img">
                            <img src="images/about/img-1.jpg" alt="">
                        </div>

                        <div class="text">
                            <h2 class="heading">WHY GUEST CHOOSE Blue Parrot Resort?</h2>
                            <div class="desc">
                               <p>
                                   Take a journey through the culinary world and satisfy any cravings you may have: <br> <br>
• Revolution Cafe provides the perfect setting surrounded by nature to enjoy a meal just a short walk away from your villa.

• Olive Restaurant offers both a lavish buffet and an exquisite selection of À la Carte dishes prepared by highly skilled Chefs with years of top notch International experience providing Mixed Indian, Oriental and Continental Cuisine. <br>

• Arabian Lounge offers a unique experience in the mystical authentic setting that transports you to a land far away. <br>

• Saigon is the epitome of fine dining with exquisite Vietnamese cuisine prepared by Chefs who have honed their skills over the years all around the world. <br>

• Barcode provides an amazing experience. Imagine any concoction you want and our skilled bartenders can make it for you. From flaming cocktails to grand flowing fountains to electrifying music on the dance floor you will have the perfect nightlife experience at Barcode. <br>

<br>
A world of activities awaits you to make your experience a fulfilling one ensuring that you go back richer than you came: <br>
• Fishing <br>
• Trekking <br>
• Indoor Game Zone: Table tennis, Pool, Billiards, Air hockey, Playstation, Foosball, Miniature Car Racing Track <br>
• Cineplex: Two 46 seater state of the art movie theaters <br>
• Outdoor Maze <br>
• Sports: Tennis, Badminton, Basketball <br>
• Cycling <br>


Experience world class facilities at our health and fitness center: <br>
• The Infinity Pool is nestled at the top of a hill and the views from the edge literally take your breath away. <br>

• The two Saunas provide relaxing experience that will de-stress you leaving you revitalized <br>

•The two Gyms is well equipped gym to keep you at the peak of your fitness. <br><br>


We provide state of the art facilities to host any event you want: <br>
• The Banquet Hall provides the perfect setting to host events of all types be it wedding receptions, conferences, seminars, workshops or all other corporate and personal gatherings. <br>

•The 4 Meeting Rooms are equipped with projectors, professional audio and microphone systems to make your next corporate meeting a highly productive one. <br>

• The Amphitheater is crested on top a hill with breathtaking views of the surrounding natural beauty provides the perfect location for all sorts of cultural events.<br>

Book an escape to this Kingdom of tranquility and experience life the Palace way. Call now at +88 019 1000 1000 or visit our website for more information www.BlueParotResort.com <br><br>

                               </p>

                            </div>
                        </div>

                    </div>
                    <!-- END / ITEM -->

                </div>

            </div>
        </section>
        <!-- END / ABOUT -->
  </div>
{% include 'footer.html' %}
{% include 'loadJquery.html' %}

</body>
</html>