{% load static %}

  <!-- ACCOMMODATIONS -->

            <div class="container">

                <div class="accomd-modations_1">

                    <h2 class="heading">ACCOMMODATIONS</h2>

                    <div class="accomd-modations-content_1" >

                        <div class="accomd-modations-slide_1" >

                            <!-- ITEM -->
                            <div class="accomd-modations-room_1">

                                <div class="img">
                                     <a href="#"><img src="{% static 'images/room/room11.jpg' %}" alt=""></a>
                                </div>

                                <div class="text">
                                    <h2><a href="#">DELUXE Room</a></h2>
                                    <p class="desc">Cum sociis natoque penatibus et magnis dis part urient montes, nascetur ridiculus mus. Vestib ulum id ligula porta felis euis.</p>
                                    <div class="wrap-price">
                                        <p class="price">
                                            <span class="amout">$10000</span> /days
                                        </p>
                                        <a href="#" class="awe-btn awe-btn-default">VIEW DETAIL</a>
                                    </div>
                                </div>

                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="accomd-modations-room_1">
                                <div class="img">
                                    <a href="#"><img src="{% static 'images/room/room22.jpg' %}" alt=""></a>
                                </div>
                                <div class="text">
                                    <h2><a href="#">SUPERIOR Room</a></h2>
                                    <p class="desc">Cum sociis natoque penatibus et magnis dis part urient montes, nascetur ridiculus mus. Vestib ulum id ligula porta felis euis.</p>
                                    <div class="wrap-price">
                                        <p class="price">
                                            <span class="amout">&7000</span> /days
                                        </p>
                                        <a href="#" class="awe-btn awe-btn-default">VIEW DETAIL</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="accomd-modations-room_1">
                                <div class="img">
                                     <a href="#"><img src="{% static 'images/room/room33.jpg' %}" alt=""></a>
                                </div>
                                <div class="text">
                                    <h2><a href="#">Luxury Room</a></h2>
                                    <p class="desc">Cum sociis natoque penatibus et magnis dis part urient montes, nascetur ridiculus mus. Vestib ulum id ligula porta felis euis.</p>
                                    <div class="wrap-price">
                                        <p class="price">
                                            <span class="amout">$5000</span> /days
                                        </p>
                                        <a href="#" class="awe-btn awe-btn-default">VIEW DETAIL</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="accomd-modations-room_1">
                                <div class="img">
                                     <a href="#"><img src="{% static 'images/room/room44.jpg' %}" alt=""></a>
                                </div>
                                <div class="text">
                                    <h2><a href="#">FAMILY Room</a></h2>
                                    <p class="desc">Cum sociis natoque penatibus et magnis dis part urient montes, nascetur ridiculus mus. Vestib ulum id ligula porta felis euis.</p>
                                    <div class="wrap-price">
                                        <p class="price">
                                            <span class="amout">$2000</span> /days
                                        </p>
                                        <a href="#" class="awe-btn awe-btn-default">VIEW DETAIL</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->

                        </div>

                    </div>

                </div>

            </div>

        <!-- ACCOMMODATIONS -->