<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
    {% include 'loadBootstrap.html' %}

</head>

</head>
<body>
{% include 'navMain.html' %}
    <!-- PAGE WRAP -->
    <div id="page-wrap">
          <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">

            <div class="awe-overlay"></div>

            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>RESERVATION</h2>
                        <p></p>
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->


        <!-- RESERVATION -->
        <section class="section-reservation-page bg-white">

            <div class="container">
                <div class="reservation-page">

                    <!-- STEP -->
                    <div class="reservation_step">
                        <ul>
                            <li><a href="#"><span>1.</span>  Choose Date</a></li>
                            <li><a href="#"><span>2.</span> Choose Room</a></li>
                            <li class="active"><a href="#"><span>3.</span> Make a Reservation</a></li>
                            <li><a href="#"><span>4.</span> Confirmation</a></li>
                        </ul>
                    </div>
                    <!-- END / STEP -->

                    <div class="row">

                        <!-- SIDEBAR -->
                        <div class="col-md-4 col-lg-3">

                            <div class="reservation-sidebar">



                                <!-- ROOM SELECT -->
                                <div class="reservation-room-selected bg-gray">

                                    <!-- HEADING -->
{#                                    <h2 class="reservation-heading">Select Rooms</h2>#}
{#                                    <!-- END / HEADING -->#}
{##}
{#                                    <!-- ITEM -->#}
{#                                    <div class="reservation-room-seleted_item">#}
{##}
{#                                        <h6>ROOM 1</h6> <span class="reservation-option">2 Adult, 1 Child</span>#}
{##}
{#                                        <div class="reservation-room-seleted_name has-package">#}
{#                                            <h2><a href="#">LUXURY ROOM</a></h2>#}
{#                                        </div>#}
{##}
{#                                        <div class="reservation-room-seleted_package">#}
{#                                            <h6>Space Price</h6>#}
{#                                            <ul>#}
{#                                                <li>#}
{#                                                    <span>3 June 2015</span>#}
{#                                                    <span>$250.00</span>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>6 June 2015</span>#}
{#                                                    <span>$320.00</span>#}
{#                                                </li>#}
{#                                            </ul>#}
{##}
{#                                            <ul>#}
{#                                                <li>#}
{#                                                    <span>Service</span>#}
{#                                                    <span>Free</span>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Tax</span>#}
{#                                                    <span>$320.00</span>#}
{#                                                </li>#}
{#                                            </ul>#}
{##}
{#                                        </div>#}
{##}
{#                                        <div class="reservation-room-seleted_total-room">#}
{#                                            TOTAL Room 1#}
{#                                            <span class="reservation-amout">$470.00</span>#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{#                                    <!-- END / ITEM -->#}
{##}
{#                                    <!-- ITEM -->#}
{#                                    <div class="reservation-room-seleted_item">#}
{#                                        <h6>ROOM 2</h6> <span class="reservation-option">2 Adult, 1 Child</span>#}
{#                                        <div class="reservation-room-seleted_name has-package">#}
{#                                            <h2><a href="#">LUXURY ROOM</a></h2>#}
{#                                        </div>#}
{##}
{#                                        <div class="reservation-room-seleted_package">#}
{#                                            <h6>Space Price</h6>#}
{#                                            <ul>#}
{#                                                <li>#}
{#                                                    <span>3 June 2015</span>#}
{#                                                    <span>$250.00</span>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>6 June 2015</span>#}
{#                                                    <span>$320.00</span>#}
{#                                                </li>#}
{#                                            </ul>#}
{##}
{#                                            <ul>#}
{#                                                <li>#}
{#                                                    <span>Service</span>#}
{#                                                    <span>Free</span>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span>Tax</span>#}
{#                                                    <span>$320.00</span>#}
{#                                                </li>#}
{#                                            </ul>#}
{##}
{#                                        </div>#}
{##}
{#                                        <div class="reservation-room-seleted_total-room">#}
{#                                            TOTAL Room 2#}
{#                                            <span class="reservation-amout">$470.00</span>#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{#                                    <!-- END / ITEM -->#}
{##}
{#                                    <!-- TOTAL -->#}
{#                                    <div class="reservation-room-seleted_total bg-blue">#}
{#                                        <label>TOTAL</label>#}
{#                                        <span class="reservation-total">$470.00</span>#}
{#                                    </div>#}
                                    <!-- END / TOTAL -->

                                </div>
                                <!-- END / ROOM SELECT -->

                            </div>

                        </div>
                        <!-- END / SIDEBAR -->

                        <!-- CONTENT -->
                        <div class="col-md-8 col-lg-9">

                            <div class="reservation_content">

                                <div class="reservation-billing-detail">


                                    <form method="post" action="">
                                    <h4>BILLING DETAILS</h4>
                                        {% csrf_token %}


                                    <label>Country <sup>*</sup></label>
                                    <select class="awe-select">
                                        <option>United Kingdom (Uk)</option>
                                        <option>Viet Nam</option>
                                        <option>Thai Lan</option>
                                        <option>China</option>
                                    </select>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name<sup>*</sup></label>
{#                                            <input type="text" class="input-text" a>#}
                                            {{ form2.first_name }}
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Last Name<sup>*</sup></label>
                                            {{ form2.last_name }}
                                        </div>
                                    </div>

{#                                    <label>Company Name</label>#}
{#                                    <input type="text" class="input-text">#}

                                    <label>Address<sup>*</sup></label>
                                    {{ form2.address }}

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Town / City<sup>*</sup></label>
                                            {{ form2.town }}
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Country<sup>*</sup></label>
                                            {{ form2.country }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Email Address<sup>*</sup></label>
                                            {{ form2.email }}
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Phone<sup>*</sup></label>
                                            {{ form2.phone_number }}
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Passport/NID Number<sup>*</sup></label>
                                            {{ form2.passport_number }}
                                        </div>
                                    </div>


                                    <label>Order Notes</label>
                                    {{ form2.message }}
                                    <label class="label-radio">
                                        <input type="radio" class="input-radio">
                                        Create an account?
                                    </label>

                                    <p class="reservation-code">
                                        You have a coupon? <a href="#">Click here to enter your code</a>
                                    </p>

                                    <ul class="option-bank">
                                        <li>
                                            <label class="label-radio">
                                                <input type="radio" class="input-radio" name="chose-bank">
                                                Direct Bank Transfer
                                            </label>
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </li>

                                        <li>
                                            <label class="label-radio">
                                                <input type="radio" class="input-radio" name="chose-bank">
                                                Cheque Payment
                                            </label>
                                        </li>

                                        <li>
                                            <label class="label-radio">
                                                <input type="radio" class="input-radio" name="chose-bank">
                                                Credit Card
                                            </label>

                                            <img src="images/icon-card.jpg" alt="">
                                        </li>

                                    </ul>
                                    <button class="awe-btn awe-btn-13">PLACE ORDER</button>

                                        </form>
                                </div>

                            </div>

                        </div>
                        <!-- END / CONTENT -->

                    </div>
                </div>
            </div>

        </section>
        <!-- END / RESERVATION -->

{% include 'footer.html' %}


 </div>
{% include 'loadJquery.html' %}
</body>
</html>