<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>congress</title>
    {% include 'loadBootstrap.html' %}
</head>
<body>
<div id="page-wrap">
{% include 'navMain.html' %}

   <section class="section-accommo_1 bg-white ">
            <div class="container">

                <div style="margin-top: 400px; margin-bottom: 400px">
                    <h class="heading"> Congretulations!!</h> <br>

                    <h5 class="heading"> Your Reservation complete </h5>
                </div>


            </div>
</section>

</div>

{% include 'footer.html' %}
 {% include 'loadJquery.html' %}

</body>
</html>