{% load static %}

<!-- FOOTER -->
        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">

                        <!-- WIDGET MAILCHIMP -->
                        <div class="col-lg-9">
                            <div class="mailchimp">
                                <h4>News &amp; Offers</h4>
                                <div class="mailchimp-form">
                                    <form action="#" method="POST">
                                        <input type="text" name="email" placeholder="Your email address" class="input-text">
                                        <button class="awe-btn">SIGN UP</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET MAILCHIMP -->

                        <!-- WIDGET SOCIAL -->
                        <div class="col-lg-3">
                            <div class="social">
                                <div class="social-content">
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET SOCIAL -->

                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->

            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
{#                                        <a href="#"><img src="{% static 'images/logo-footer.png' %}" alt=""></a>#}
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i> Bashundhara R/A, Bangladesh</p>
                                        <p><i class="lotus-icon-phone"></i> 017828283738</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:mdhasan.nsu@gmail.com.com">mdhasan.nsu@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
{#                            <div class="widget">#}
{#                                <h4 class="widget-title">Page site</h4>#}
{#                                <ul>#}
{#                                    <li><a href="#">Guest Book</a></li>#}
{#                                    <li><a href="#">Gallery</a></li>#}
{#                                    <li><a href="#">Restaurant</a></li>#}
{#                                    <li><a href="#">Event</a></li>#}
{#                                </ul>#}
{#                            </div>#}
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">ABOUT</h4>
                                <ul>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/Room">Room</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="">Comming Soon</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-3">
{#                            <div class="widget widget_tripadvisor">#}
{#                                <h4 class="widget-title">Tripadvisor</h4>#}
{#                                <div class="tripadvisor">#}
{#                                    <p>Now with hotel reviews by</p>#}
{#                                    <img src="{%  static 'images/tripadvisor.png' %}" alt="">#}
{#                                    <span class="tripadvisor-circle">#}
{#                                        <i></i>#}
{#                                        <i></i>#}
{#                                        <i></i>#}
{#                                        <i></i>#}
{#                                        <i class="part"></i>#}
{#                                    </span>#}
{#                                </div>#}
{#                            </div>#}
                        </div>


                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->

            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>&copy; 2017 Blue Parrot Resort All rights reserved.</p>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>