 {% load static %}

 <!-- HEADER -->
            <header id="header" class="header-v2">



                <!-- HEADER LOGO & MENU -->
                <div class="header_content" id="header_content">

                    <div class="container">
                        <!-- HEADER LOGO -->
                        <div class="header_logo">er
                            <a href="#"><img src="{% static 'images/mainlogo.png' %}" alt=""></a>
                        </div>
                        <!-- END / HEADER LOGO -->

                        <!-- HEADER MENU -->
                        <nav class="header_menu">
                            <ul class="menu">
                                <li class="current-menu-item">
                                    <a href="/">Home <span class="fa "></span></a>

                                </li>
                                <li><a href="/about">About</a></li>

                                <li>
                                    <a href="/Room">Room <span class="fa "></span></a>

                                </li>
{#                                <li>#}
{#                                    <a href="#">Restaurant <span class="fa fa-caret-down"></span></a>#}
{#                                    <ul class="sub-menu">#}
{#                                        <li><a href="restaurants-1.html">Restaurant 1</a></li>#}
{#                                        <li><a href="restaurants-2.html">Restaurant 2</a></li>#}
{#                                        <li><a href="restaurants-3.html">Restaurant 3</a></li>#}
{#                                        <li><a href="restaurants-4.html">Restaurant 4</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
                                <li>
                                    <a href="/reservation">Reservation <span class="fa"></span></a>

                                </li>
                                <li>
                                    <a href="/booking">Booking <span class="fa"></span></a>

                                </li>

                                <li>
                                    <a href="#">Gallery <span class="fa "></span></a>

                                </li>

                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- END / HEADER MENU -->

                        <!-- MENU BAR -->
                        <span class="menu-bars">
                            <span></span>
                        </span>
                        <!-- END / MENU BAR -->

                    </div>
                </div>
                <!-- END / HEADER LOGO & MENU -->

            </header>
            <!-- END / HEADER -->