{% load static %}

        <!-- BANNER SLIDER -->
        <section class="section-slider" >



             <div class="container-fluid">
                 <ul>

                     <li> <img src="{% static 'images/slider/mainslider1.jpg'%}" alt="icon"></li>      </ul>

             </div>





{#            <h1 class="element-invisible">Slider</h1>#}
{#            <div id="slider-revolution">#}
{#                <ul>#}
{#                    <li data-transition="fade">#}
{#                        <img src="{% static 'images/slider/img1.jpg' %}" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">#}
{##}
{#                        <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="100" data-speed="700" data-start="1500" data-easing="easeOutBack">#}
{#                         <img src="{% static 'images/slider/hom1slide1.png' %}" alt="icons">#}
{#                        </div>#}
{##}
{#                        <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="240" data-speed="700" data-start="1500" data-easing="easeOutBack">#}
{#                         WELCOME TO#}
{#                        </div>#}
{##}
{#                        <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280" data-speed="700" data-easing="easeOutBack"  data-start="2000">THE LOTUS HOTEL</div>#}
{##}
{#                        <a href="#" class="tp-caption sfb fadeout awe-btn awe-btn-12 awe-btn-slider" data-x="center" data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">VIEW NOW</a>#}
{#                    </li>#}
{##}
{#                    <li data-transition="fade">#}
{#                        <img src="{% static 'images/slider/img1.jpg' %}" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">#}
{##}
{#                        <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300" data-easing="easeOutBack">#}
{#                          <img src="{% static 'images/iconSlider1.png' %}" alt="">#}
{#                        </div>#}
{##}
{#                        <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">#}
{#                           EACH HOTEL IS#}
{#                        </div>#}
{##}
{#                        <div class="tp-caption sfb fadeout slider-caption slider-caption-3" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack"  data-start="2000">#}
{#                            UNIQUE 60%#}
{#                        </div>#}
{##}
{#                        <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2200">JUST LIKE YOU</div>#}
{##}
{#                        <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="395" data-easing="easeOutBack" data-speed="700" data-start="2400">#}
{#                            <img src="{% static 'images/icon-slider-2.png' %}" alt=""></div>#}
{#                    </li>#}
{##}
{#                </ul>#}
{#            </div>#}

        </section>
        <!-- END / BANNER SLIDER -->
